@font-face {
  font-family: 'Cooper';
  src: url('/fonts/cooper_light.woff2') format('woff2'),
       url('/fonts/cooper_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper';
  src: url('/fonts/cooper_light-italic.woff2') format('woff2'),
       url('/fonts/cooper_light-italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper';
  src: url('/fonts/cooper_medium.woff2') format('woff2'),
       url('/fonts/cooper_medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper';
  src: url('/fonts/cooper_medium-italic.woff2') format('woff2'),
       url('/fonts/cooper_medium-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper';
  src: url('/fonts/cooper_bold.woff2') format('woff2'),
       url('/fonts/cooper_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper';
  src: url('/fonts/cooper_bold-italic.woff2') format('woff2'),
       url('/fonts/cooper_bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper';
  src: url('/fonts/cooper_black.woff2') format('woff2'),
       url('/fonts/cooper_black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper';
  src: url('/fonts/cooper_black-italic.woff2') format('woff2'),
       url('/fonts/cooper_black-italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}